.left-nav-container {
  position: relative;

  .icons {
    position: fixed;
    z-index: 10;

    @media screen and (max-width: 590px) {
      margin: 2px 0 0 -9px;
    }

    .icons-bis {
      position: absolute;
      left: 10px;

      a {
        transition: 0.1s;
        display: inline-block;

        &:before {
          transition: 0.15s ease;
          transform: scale(0);
          transform-origin: center;
          z-index: -10;
          content: '';
          height: 45px;
          width: 45px;
          position: absolute;
          background: $color-4;
          border-radius: 50px;
        }

        &:hover {
          transform: scale(1.02);
        }
        &:hover::before {
          transform: scale(1);
          @media screen and (max-width: 590px) {
            background: $color-1;
            height: 34px;
            width: 34px;
          }
        }

        img {
          @media screen and (max-width: 590px) {
            height: 34px;
            width: 34px;
          }
        }
      }

      .active-left-nav {
        position: relative;

        img {
          background: $color-5;
          //opacity: 95%;
          border-radius: 10px;
        }

        &::after {
          content: '';
          height: 6px;
          width: 6px;
          position: absolute;
          background: $color-1;
          left: -7px;
          bottom: 8px;
          top: 18px;
          border-radius: 100%;
          transform: scaleX(0);
          animation: scale 1s ease forwards;

          @keyframes scale {
            to {
              transform: scaleX(1);
            }
          }
          @media screen and (max-width: 590px) {
            left: -5px;
            top: 15px;
          }
        }
      }
    }
  }
}
