.profilthread-container {
  margin: 58px auto 50px;
  position: relative;

  @media screen and (max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px;
  }

  @media screen and (max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }
}
